@model Catalogos

<h2>Eliminar categorias</h2>
<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div>
        <h2>Nombre:@Model.Nombre</h2>
        <h2>Descripcion:@Model.Descripcion</h2>
        <h2>Fecha Registro:@Model.FechaRegistro</h2>
        <h2>Fecha Incio:@Model.FechaInicio</h2>
        <h2>Fecha Actualizacion:@Model.FechaActualizacion</h2>
        <h2>Estado:@Model.Estado</h2>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index">Regresar</a>
    </div>
</form>
